body {
    margin: 0 0 20px 0;
    padding: 0;
    background-color: #DAE0E6;
    width: 100%;
    min-width: 760px;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header-top {
    min-width: 760px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

#logo img:hover {
    cursor: pointer;
}

#logo img{
    height: 50px;
    margin-left: 20px;
}

.header-top-right {
    display: flex;
    gap: 20px;
    margin-right: 10vw;
}

.login {
    background-color: #0079D3;
    height: 25px;
    margin: 0 0 12px 0;
    width: max-content;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

.login:hover {
    cursor: pointer;
}

.user-container {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 5px;
}

.user-container img {
    height: 70%;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80px;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.username {
    width: max-content;
}

#header-background {
    width: 100%;
    margin-top: 50px;
    height: 210px;
    background: url('img/space-background.jpg');
}

h1 {
    margin: 70px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 60px;
    font-size: 50px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 7px;
    max-width: 800px;
    padding: 20px;
}

main h2 {
    margin: 0;
    padding: 0 0 0.7em 0;
    border-bottom: solid white 1px;
    font-family: 'IBM Plex Sans', sans-serif;
}

main div, main p, main form {
    background-color: white;
    border-radius: 5px;
}

main div {
    width: 30%;
    padding: 1em;
    font-size: 14px;
    font-weight: bold;
}

main p {
    padding: 1em;
    font-size: 12px;
}

main form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}

main label::before {
    content: '*';
    color: red;
}

main input {
    height: 3em;
    background-color: #DAE0E6;
    border: 1px solid #bec3c8;
    border-radius: 5px;
    font-family: Verdana, Arial, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

main input:focus {
    outline: 1px solid #4f5154;
}

#title {
    font-weight: bolder;
}

button {
    width: 15%;
    border: none;
    align-self: flex-end;
    text-align: center;
    background-color: #646d73;
    color: white;
    font-weight: 600;
    border-radius: 2em;
    padding: 0.6em;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}